.bgbase{
    background-image: linear-gradient(to bottom, transparent 60%, rgb(247, 244, 244) 100%), url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
/* #912CEE */
.cardicon{
    /* border:2px solid #389ae0; */
    border-top :1px;
    border-color: #389ae0;
    border-style: solid;
    border-radius: 100%;
    font-size: 2.5rem;
    /* height:3.5rem; */
    /* width:0.8rem; */
    color:#389ae0;
    background-color: white;
    /* color:black; */
    padding:1rem;
    margin-top: -25px;
    z-index: -1;
}
/* .cardcss{
    box-shadow: 2px 2px 2px grey;
} */
/* .cardcss:hover {
    box-shadow: 2px 2px 4px grey;
} */
.cardcss:hover .cardicon {
    box-shadow: 2px 2px 6px grey;   
}
.line-custom{
	font-weight: 600px;
	position: relative;
    /* left:10%; */
	width:max-content;
    text-align: center;
}
  .cardcss .line-custom::after{
	content:"";
	width:100%;
	height:3px;
	background-color: #389ae0;
	position:absolute;
	top:110%;
    left:0;
	transition:all 0.4s;
	transition-timing-function: ease-in-out;
	transform:scalex(0);
}
.cardcss:hover .line-custom::after{
	transform:scalex(1);

}
/* card */
  *, *:before, *:after {
  box-sizing: border-box;
}
.content {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1000px;
}
.card {
  color: inherit;
  cursor: pointer;
  width: calc(33% - 2rem);
  min-width: calc(33% - 2rem);
  height: 330px;
  min-height: 330px;
  perspective: 1000px;
  margin: 1.1rem;
  position: relative;
  background: transparent;
  border:none;
}
@media screen and (max-width: 800px) {
  .card {
    width: calc(50% - 2rem);
  }
}
@media screen and (max-width: 500px) {
  .card {
    width: 100%;
  }
}

.front,
.back {
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  background-position: center;
  background-size: cover;
  text-align: center;
  justify-content: start;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: ease-in-out 1800ms;
  
}
.back{
  justify-content: center;
}
.front {
  background-size: cover;
  border:1px solid #389ae0;
  /* padding: 0.2rem; */
  font-size: 1.618rem;
  font-weight: 600;
  /* color: black; */
/*color:#ffc85e;*/
  overflow: hidden;
  font-family: Poppins, sans-serif;
}
.front:before {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background: linear-gradient(175deg,#68c3ee,#e9adf5,#68c3ee); */
  background-color: #fffffff1;
  opacity: 0.43;
  z-index: -1;
}
.card:hover .front {
  transform: rotateY(180deg);
}
.card:nth-child(even):hover .front {
  transform: rotateY(-180deg);
}

.back {
  background: rgba(255, 255, 255, 0.43) ;
  /* opacity: 0.43; */
  transform: rotateY(-180deg);
  padding: 0 2em;
}
.card:hover .back {
  transform: rotateY(0deg);
}
.card:nth-child(even) .back {
  transform: rotateY(180deg);
}
.card:nth-child(even):hover .back {
  transform: rotateY(0deg);
}