a{
  text-decoration: none;
  color:inherit;
}
.navbar {
    position:fixed;
    z-index: 1000;
    width:100%;
    background: url(../images/bg.jpg);
}
 ul .tabs{
    list-style-type:none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/* .navbar-scrolled {
    /* position:fixed; 
    background:  rgb(255, 255, 255)!important;
    box-shadow: 2px 2px 2px grey;
  } */
  .nav-link{
    /* color: black; */
    font-size: 1rem;
    /* font-weight: 500; */
  }
  .nav-link :active{
    color:#389ae0 ;
  }
  .admin  {
    /* background-color: transparent; */
    /* border:none; */
    /* font-weight: 500; */
    color:#389ae0 !important;;
    /* text-decoration: none; */
    /* transition: background-color 0.3s, color 0.3s; */
  }
  .admin:hover{
    font-weight: 600;
    /* background-color: transparent; */
  }
  
 