a{
    text-decoration: none;
    color:inherit;
  }
.bg{
    position: relative;
    /* background: url(./assets/images/bg.jpg) no-repeat ; */
    background-image: linear-gradient(to bottom, transparent 30%, rgb(247, 244, 244) 100%), url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* top:70px; */
    width:100%;
    /* min-height:100vh;  */
    /* filter: blur(2px);  */
    /* border-bottom-left-radius: 50px; */
    /* border-bottom-right-radius: 50px; */
}
.base1{
    height:70%;
    /* border:2px solid red; */
    /* font-family: 'Times New Roman', Times, serif; */
}
.base2{
    color:#389ae0;
    text-transform: capitalize;
    /* font-family: 'Times New Roman', Times, serif; */
    background-blend-mode: multiply;    
} 
.admin1  {
    background-color: transparent;
    border:2px solid #389ae0;
    font-weight: 680;
    font-size: 1.3rem;
    color:#389ae0;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    padding: 0px;
  }
  .admin1:hover {
    background-color:rgba(83, 179, 243, 0.2);
    transition: background-color 0.3s, color 0.3s;
    color:#389ae0;

  }
.uploadbtn  {
    background-color: #389ae0;
    border:none;
    font-weight: 680;
    font-size: 1.3rem;
    color:white;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    padding: 0px;
  }
   .uploadbtn:hover {
    background-color:rgb(88, 169, 226);
    border : none;
    transition: background-color 0.3s, color 0.3s;
    color:white;
  }
  .try{
    animation:shake 2.5s ease-in-out 0s infinite alternate none running ;
  }
  @keyframes shake {
    0%{
      transform: translateY(0px);
    }
    100%{
      transform: translateY(10px);
    }
  }