div.content {
    margin-left: 100%;
    padding: 1px 16px;
    height: 1000px;
  }    

  .sidebar-menu .item-content{
    display: flex;
    align-items: center;
    font-size: 15px;
  }

  #search{
    padding: 5px 10px;
  }
/* 
  .navItems :hover{
    background-color: skyblue;
    color: black;
    border-radius: 5px;
  } */


  .fontFamilyDesign{
    font-family: "system-ui";
    font-optical-sizing: auto;
    font-style: normal;
    font-stretch: normal; 
    font-size: 15px;
    color: #fff;
  } 

.fontStyle {
  font-family: "system-ui";
  color: white;
  font-size: 16px;
}

.sidebarIcon {
  margin-right: 12px;
}

.logoStyle{
  font-size: 15px;
  position: relative;
  bottom: 12px;
  top: 110px;
  right: 186px;
}

.sidebarItem>div{
  padding: 4px 2px 3px 10px;
  height: 30px;
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #111727;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 10px;
}

.pro-sidebar{
  padding-right: 4px;
}


.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}
#content { 
  width: 100%;
  min-height: 100vh;
  transition: all 0.3s;
}